---
import Layout from "../../layouts/layout.astro";
import BlogHeroContent from "../../components/blogHeroContent.astro"
import Section from "../../components/section.astro"
import { getCollection, getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";

// export async function getStaticPaths() {
//     const allBlogPosts: CollectionEntry<'blog'>[] = await getCollection('blog');

//     return allBlogPosts.map(entry => ({ 
//         params: {
//             slug: entry.slug
//         },

//         props: { entry }
//     }))
// }

// const { entry } = Astro.props;
// const { Content } = await entry.render();
const { slug } = Astro.params;

if(slug === undefined) {
    throw new Error('Slug is required')
}

const entry = await getEntry('blog', slug)
if(entry == undefined) {
    return Astro.redirect('/404');
}

const { Content } = await entry.render();

const {heading, sub_heading, author, pubdate, img } = entry.data;

console.log(img)
---

<Layout>
    
    <BlogHeroContent heading={heading} sub_heading={sub_heading} author={author} pubdate={pubdate} bgImg={img} />
    
    <Section>
        <div class="cust-container">
            <div class="w-4/6 mx-auto">
                <Content />
            </div>
        </div>
    </Section>
</Layout>

<style is:global>
    p {
        @apply my-5 text-lg
    }
</style>